body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #cceeff;
  user-select: none;
}

canvas {
  background: #aaddff;
  border: 2px solid #333;
  display: block;
}
